.price {
    padding-top: 60px;
    &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 366px);
    grid-template-rows: repeat(3, minmax(44px, auto));
    justify-content: space-around;
    row-gap: 15px;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(21px, auto));
        row-gap: 5px;
        padding-left: 25px;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            position: absolute;
            top: 5px;
        }
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
        }
        &-price {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }
        &-descr {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3;
        }
    }
}